
.vs/TopDownShooter/v16/.suo
.vs/TopDownShooter/v16/.suo
.vs/TopDownShooter/v16/Browse.VC.db
.vs/TopDownShooter/v16/.suo
.vs/TopDownShooter/v16/Browse.VC.db
.vs/TopDownShooter/v16/Browse.VC.db-shm
.vs/TopDownShooter/v16/Browse.VC.db-wal
.vs/TopDownShooter/v16/Browse.VC.opendb
.vs/TopDownShooter/v16/ipch/AutoPCH/517f6076f867802b/MAIN.ipch
.vs/TopDownShooter/v16/ipch/AutoPCH/53925dcf964616ad/PLAYERMODELFACEINGCOMPONENT.ipch
.vs/TopDownShooter/v16/ipch/AutoPCH/868c605de004228c/ENTITY.ipch
.vs/TopDownShooter/v16/ipch/AutoPCH/ea9c8e6e63ac2207/BASEFACINGCOMPONENT.ipch
.vs/TopDownShooter/v16/ipch/AutoPCH/fb0a621a9736b5a4/PLAYERMODELFACINGCOMPONENT.ipch
*.db
*.ipch
*.db
.vs/TopDownShooter/v16/ipch/AutoPCH/517f6076f867802b/MAIN.ipch
.vs/TopDownShooter/v16/Browse.VC.db
.vs/TopDownShooter/v16/.suo
x64/Debug/main.obj
x64/Debug/PlayerModelFaceingComponent.obj
x64/Debug/PlayerModelFacingComponent.obj
x64/Debug/TopDownShooter.exe
x64/Debug/TopDownShooter.ilk
x64/Debug/TopDownShooter.log
x64/Debug/TopDownShooter.pdb
x64/Debug/TopDownShooter.tlog/CL.command.1.tlog
x64/Debug/TopDownShooter.tlog/CL.read.1.tlog
x64/Debug/TopDownShooter.tlog/CL.write.1.tlog
x64/Debug/TopDownShooter.tlog/link.command.1.tlog
x64/Debug/TopDownShooter.tlog/link.read.1.tlog
x64/Debug/TopDownShooter.tlog/link.write.1.tlog
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
*.obj
*.exe
*.ilk
*.log
*.pdb
TopDownShooter.vcxproj.filters
TopDownShooter.vcxproj
*.ilk
*.log
*.tlog
*.idb
*.pdb
x64/Debug/vc142.pdb
x64/Debug/vc142.idb
x64/Debug/TopDownShooter.tlog/link.write.1.tlog
x64/Debug/TopDownShooter.tlog/link.read.1.tlog
x64/Debug/TopDownShooter.tlog/link.command.1.tlog
x64/Debug/TopDownShooter.tlog/CL.write.1.tlog
x64/Debug/TopDownShooter.tlog/CL.read.1.tlog
x64/Debug/TopDownShooter.tlog/CL.command.1.tlog
x64/Debug/TopDownShooter.pdb
x64/Debug/TopDownShooter.log
x64/Debug/TopDownShooter.ilk
x64/Debug/TopDownShooter.exe
x64/Debug/PlayerModelFacingComponent.nativecodeanalysis.sarif
*.obj
*.obj
x64/Debug/main.obj
x64/Debug/main.nativecodeanalysis.sarif
*.obj
*.txt
*.obj
*.filters
TopDownShooter.vcxproj.filters
*.vcxproj
TopDownShooter.vcxproj
.vs/TopDownShooter/v16/ipch/AutoPCH/517f6076f867802b/MAIN.ipch
.vs/TopDownShooter/v16/Browse.VC.db
.vs/TopDownShooter/v16/.suo
*.ipch
*.db
